body{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows:
                        125px
                        75px
;

font-size: larger;
font-family: Fira Code;
background-color: #232931
}

.span1{
    background-color: white;
    grid-column-end: span 1;
    text-align: center;
}

p{
    position: relative;
    top: 10%;
}

.result{
    background-color: black;
    /* C'est robuste */
    grid-column-start: 1;
    grid-column-end: -1;
    color: white;
    text-align: right;
}

.result>p{
    position: relative;
    top: 65%;
}

.span2{
    background-color: white;
    grid-column-end: span 2;
    text-align: center;
}   

.number>div:hover{
    background-color: lightgray;
}

.operator>div:hover{
    background-color: lightgray;
}

.result:hover{
    background-color: black;
}
