body{
    /* Grid */
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows:
                        125px
                        repeat(5, 75px);
grid-auto-flow: row dense;

/* Appearance */
font-size: larger;
font-family: Fira Code;
background-color: #232931
}

.result{
    /* C'est robuste */
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;

    /* C'est joli */
    color: white;
    text-align: right;
    background-color: black;
}

.operators{
    grid-column-end: -1;
    background-color: white;
    text-align: center;
}

.numbers{
    background-color: white;
    text-align: center;
}

.autre{
    background-color: white;
    text-align: center;
}

#AC{
    grid-column-end: span 2;
}

#dot{
    grid-column-start: 0;
}

#equal{
    grid-column-start: span 2;
    grid-column-end: -1;
}

/* Positionnement texte */
p{
    position: relative;
    top: 10%;
}

.result>p{
    position: relative;
    top: 65%;
}

/* Surbrillance */
div:hover{
    background-color: lightgray;
}
.result:hover{
    background-color: black;
}
div.autre:hover{
    background-color: lightgray!important;
}